@page
@model HolaWeb.App.Frontend.Pages.DetailsModel4
@{
}
<h2>@Model.Visita.Id</h2>
<div>
    Id: @Model.Visita.IdMascota
</div>
<div>
    Ingles: @Model.Visita.IdVeterinario
</div>
<div>
    Italiano: @Model.Visita.Fecha
</div>
<a asp-page="./List" class="btn-default">Lista de Visita </a>